DB_APP_PASSWD=
DB_ADM_PASSWD=

KIWOOM_APP_KEY=
KIWOOM_SECRET=

# Telegram Bot
TELEGRAM_BOT_USERNAME=Dufresne
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DEVELOPER_CHAT_ID= # 오류 알림 용도

# Dashboard screenshot (psms-renderer)
DASHBOARD_USER=
DASHBOARD_PASS=
# CHAT_ID_MAIN = # tobe

### TELEGRAM
# TOKEN
# TOKEN_CRAWL_ALARM=
# TOKEN_TEST= # TODO 추후 스크린샷 발송용 봇

